.about-bg-img{
    margin-top: 120px;
    width: 100vw;
    height: 250px;
}
.about-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-info .name{
    font-size: 30px;
    margin:10px 0;
    text-align: center;
}
.about-info .slogan{
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #666;
}
.about-content{
    margin-top: 30px;
}
.about-our-story-content{
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 25px;
}
.achievement-items{
    margin-bottom: 30px;
}
.achievement-items .line{
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
    display: inline-block;
}
.achievement-items .name{
    display: flex;
    align-items: center;
    font-size: 30px;
    gap:10px;
    margin: 5px;
}
.achievement-items-list{
    list-style-type: disc;
    margin-left: 40px;
    display: flex;
    gap:10px;
    flex-direction: column;
}